entrypoint = "index.js"
modules = ["nodejs-22", "python-3.11", "postgresql-16"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "DownDetector"

[[workflows.workflow]]
name = "DownDetector"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
SUPABASE_URL = "https://ykxyzatvwscchlaszzjw.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlreHl6YXR2d3NjY2hsYXN6emp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQzNzA1NDksImV4cCI6MjA3OTk0NjU0OX0.1dAxzb49qIGTAUrMhLOtpmZvQIOj9W72-kbUp7DpFIg"
DISCORD_CLIENT_ID = "1444101008778330294"
CALLBACK_URL = "https://0f19beb3-5918-4629-9b4b-283c0f6e2372-00-2w544i7ovzoww.janeway.replit.dev/callback/discord"
